@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

header {
    box-shadow: -9px 2px 20px 0px black;
    padding: 10px;
    background-color: #2E294E;
}




img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #000;
}

.section_form{
    background-color: #2E294E;
    /* max-width: 400px; */
    margin: 0 auto;
}

.form {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    max-width: 300px;
    max-height: 450px;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
}


.form_ec > img {
    height: 80px;
}

.form_ec > label {
    font-weight: 700;
    color: #fff;

}

.form_ec > input {
    display: block;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0px;

}

.form_ec > button {
    border: none;
    padding: 6px;
    border-radius: 5px;
    margin-top: 5px;
}

.form_ec > a {
    text-align: center;
    font-weight: 700;
    margin: 10px;
    color: #fff;
}

.form_ec > a:hover {
    text-decoration: solid;
}


.menu {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu>nav {
    display: flex;
    align-items: center;
}

#sair:hover{
    background-color: #ed3124;
    color: #fff;
}


.menu>nav>a {
    font-weight: 700;
    padding: 10px;
    color: #fff;
}


.menu>nav>a:hover {
    background-color: #fff;
    color: #2E294E;
}

.lista_filmes {
    text-align: center;
}

.link_filme {
    cursor: pointer;
    font-size: 20px;
    background-color: #fff;
    border: none;
    margin: 10px;
    padding: 10px;
}


#logo {
    max-width: 50px;
}

#nome_usuario {
    text-decoration: wavy #fff;
    font-weight: 900;
    padding: 8px;
}
